body{
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 20px;
  background-color: wheat;
}

h1{
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin-left: 100px;
  user-select: none;
  border-bottom:2px solid lightgray ;
  font-weight: bold;

}

p{
  text-align: center;
  user-select: none;
}

ul{
  list-style: none;
  margin-top: 100px;
  background-color: white;
  border-radius: 8px;
  min-height: 100px;
  padding-top: 6px;
  border: lightgray solid 2px;
}

li{
  line-height: 2;
  user-select: none;
}

form{
  margin-top: 50px;
  text-align: center;
}

input[type="text"]{
  padding: 6px;
  font-size: 14px;
  width: 300px;
}

h1 > button{
  float: right;
  width:100px;
  height: 50px;
  user-select: none;
}

.hidden{
  display: none;
}



@media(max-width:550px){
  h1{
    font-size: 26px;
    margin: 0 auto;
  }

  h1 > button{
    width:８0px;
    height: ４５px;
    font-size: １２px;
    display: block;
    position: absolute;
    bottom: 80px;
    right: 15px;
  }

  
}
